/* styles.css */

.navbar {
  background-color: #014421; 
  color: white; 
}

.navbar a {
  color: white;
  font-weight: bold; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

details > summary {
  color: #00592B;
  font-weight: bold;
  font-style: normal;
}

details {
  font-weight: bold; /* Makes the text inside the <details> element bold */
}